body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f5;
  }
  
  h2 {
    text-align: center;
    margin: 20px 0;
    color: #343a40;
  }
  
  button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  